:root {
  --ion-color-primary: #0077b2;
  --ion-color-primary-rgb: 0,119,178;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00699d;
  --ion-color-primary-tint: #1a85ba;

  --ion-color-secondary: #328294;
  --ion-color-secondary-rgb: 50,130,148;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2c7282;
  --ion-color-secondary-tint: #478f9f;

  --ion-color-tertiary: #6376ab;
  --ion-color-tertiary-rgb: 99,118,171;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #576896;
  --ion-color-tertiary-tint: #7384b3;

  --ion-color-success: #93e3b4;
  --ion-color-success-rgb: 147,227,180;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #81c89e;
  --ion-color-success-tint: #9ee6bc;

  --ion-color-warning: #ffed91;
  --ion-color-warning-rgb: 255,237,145;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0d180;
  --ion-color-warning-tint: #ffef9c;

  --ion-color-danger: #f49080;
  --ion-color-danger-rgb: 244,144,128;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d77f71;
  --ion-color-danger-tint: #f59b8d;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #eef0f5;
  --ion-color-light-rgb: 238,240,245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d1d3d8;
  --ion-color-light-tint: #f0f2f6;
}