:host {
  .fab-button {
    --background: var(--ion-color-primary-tint);
  }

  .fab-icon {
    color: var(--ion-color-primary-contrast);
  }

  .home-background {
    --ion-background-color: var(--ion-color-tertiary) !important; 
  }
}