.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.modal-wrapper {
    height: 210px !important;
    border-radius: 8px !important;
}

ion-button {
    flex: 1;
    --width: 98%;
    --border-radius: 4px;
}